modules = ["nodejs-20"]

[workflows]
runButton = "Run Dev Server"

[[workflows.workflow]]
name = "Run Dev Server"
author = 40278075
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true
